{% extends "base.html" %}

{% block title %}Bookmarks{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<div class="page_name">
    <h2>Bookmarks</h2>
</div>

<div class="welcome-message">
    <form>
        <fieldset class="bookmark_fieldset">
            <table class="res-table">
                <thead class="res-thead">
                    <th class="home_table_page">Resource</th>
                    <th class="home_table_func">Link</th>
                </thead>
                {% for k,v in g.globs.bookmarks.items() %}
                    <tr>
                        <td class="home_table_page">{{k.capitalize()}}</td>
                        <td class="home_table_func"><a class="book" href="{{v}}" target="_blank">{{v}}</a></td>
                    </tr>
                {% endfor %}
            </table>
        </fieldset>
    </form>
</div>

{% endblock %}