{% extends "base.html" %}

{% block title %}Files{% endblock %}

{% block header %}
{% endblock %}

{% block content %}


{% if files %}
{% if files != {} %}
<h3 style="padding-top: 15px;text-decoration: underline;">Files</h3>
<div class='left'>
    {% for filename, path in files.items() %}
    <a href="{{ url_for('main.get_file', path=path) }}">{{filename}}</a><br>
    {% endfor %}
</div>
{% endif %}
{% if folders != {} %}
<div class="left">
    <h3 style="text-decoration: underline;">Folders</h3>
    {% for filename, path in folders.items() %}
    <a href="{{ url_for('main.list_files', folder=path) }}">{{filename}}</a><br>
    {% endfor %}
</div>
{% endif %}
{% else %}
<h3 style="padding-top:15px;">There are no files that need to be downloaded for this challenge.</h3>
{% endif %}

{% endblock %}
